/*
#a4c2d1; egg blue
#dbdcde; light grey
#1f7798; mid-blue
#184f63; dark blue
*/

/* global styles */
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Poppins&display=swap");


body{ 
    font-family: "Poppins", sans-serif;
    background-color: #a4c2d1;
}

/* Headings */
h1, h2
{ 
    font-family: "DM Serif Display", serif;
    color:#184f63;
}

.sharp-corners, 
.sharp-corners * {
    border-radius: 0;
}

/* Hero Section */
#hero {
    background-color: #dbdcde;
    background-image: url("../images/background.webp");
    background-position: 50% 70%;
    background-size: cover;
    padding: 5% 7%;
    min-height: 500px;
}

/* About Section */
#about {
    background-color: white
}

/* Portfolio */
#portfolio {
    background-color:#dbdcde
}

#portfolio .card-title {
    color:#1f7798;
    font-size: 1.2rem;
}

#portfolio .btn-outline-secondary:hover {
    background-color:#1f7798;
    color:white;
}

#portfolio .card-text {
    min-height: 120px;
}

/* Contact Section */
#footer {
    background-color: white;
}


/* Media Queries */

/* Use bootstrap breakpoints for XL screens */
@media screen and (min-width: 1200px) {
    /* Fixes all portfolio cards being too tall on XL screen */
    #portfolio .card-text {
        min-height: auto;
    }
}

/* Use bootstrap breakpoints for <= ml screens */
@media screen and (max-width: 768px) {
    /* Fixes all portfolio cards being too tall on XL screen */
    #portfolio .card-text {
        min-height: 90px;
    }
}

